@charset "utf-8";
/* Styles for Unknown */
a.epub-type-noteref {
	text-decoration: none;
	font-size: 0.85em;
}

.epub-type-noteref::before{
	content: "[";
	font-style: normal;
}
.epub-type-noteref::after{
	content: "]";
	font-style: normal;
}
body {
  text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
blockquote {
  font-style: italic;
}
blockquote.autor-cita {
  font-style: normal;
  text-align: right;
}
.texto-normal {
	font-style: normal;
}
.quote-indent {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
.indent {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  text-indent: 1.5em;
}
.no-space {
  margin-top: 0;
  margin-bottom: 0;
}
.noindent {
  display: block;
  font-size: 1.14286em;
  line-height: 1.2;
  text-align: justify;
  text-indent: 0;
  margin: 0;
}
/*hr {
  width: 20%;
  border: 1px solid #aaa;
}*/
hr {
	border: none;
	border-top: 1px solid;
	height: 0;
	margin-top: 1.5em;
	margin-right: auto;
	margin-bottom: 1.5em;
	margin-left: auto;
	width: 25%
}
